<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Education</h1>
      <div *ngFor="let education of education">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{education.date}} - {{education.school}}</h5>
            <p class="card-text"><b>Education:</b> {{education.name}}</p>
            <p class="card-text"><b>Location:</b> {{education.location}}</p>
            <p class="card-text">GPA: {{education.gpa}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Certifications</h1>
      <div *ngFor="let certification of certifications">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{certification.date}} - {{certification.title}}</h5>
            <p class="card-text"><b>Description:</b> {{certification.description}}</p>
          </div>
        </div>
      </div>
    </div>
