<br />
<legend>Technologies</legend>
<div class="technologies-container">
  <div *ngFor="let technology of technologies" class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <h2 class="title">{{ technology.name }}</h2>
        <p class="subtitle">{{ technology.description }}</p>
        <figure class="image is-4by3">
          <a href="{{ technology.url }}" target="_blank">
            <img src="{{ technology.icon }}" alt="{{ technology.name }}" />
          </a>
        </figure>
      </article>
    </div>
  </div>
</div>

<!-- <mat-card>

  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Angular</p>
        <figure class="image is-4by3">
          <a href="https://angular.io/" target="_blank"><img src="assets/icons8-angularjs-144.png"  alt=""/></a>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">React</p>
        <figure class="image is-4by3">
          <a href="https://reactjs.org/" target="_blank"><img src="assets/icons8-react-120.png" alt="" /></a>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Ionic</p>
        <figure class="image is-4by3">
          <a href="https://ionicframework.com/" target="_blank"><img src="assets/icons8-ionic-150.png"  alt=""/></a>
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
<mat-card>
  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Ionic React</p>
        <figure class="image is-4by3">
          <a href="https://ionicframework.com/react" target="_blank"><img src="assets/icons8-ionic-150.png" alt="" /></a>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">IntelliJ IDEA</p>
        <figure class="image is-4by3">
          <a href="https://www.jetbrains.com/idea/" target="_blank"><img src="assets/icons8-intellij-idea-144.png" alt=""/></a>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Word Press</p>
        <figure class="image is-4by3">
          <a href="https://wordpress.org/" target="_blank"><img src="assets/wordpress.png" alt=""/></a>
        </figure>
      </article>
    </div>
  </div> </mat-card
><br />
<mat-card>
  <div class="tile is-full">
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Git Hub</p>
        <p class="subtitle"></p>
        <figure class="image is-4by3">
          <a href="https://github.com/" target="_blank"><img src="assets/icons8-github-100.png" alt=""/></a>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Spring MVC</p>
        <figure class="image is-4by3">
          <a href="https://spring.io/" target="_blank"><img src="assets/icons8-spring-logo-144.png" alt=""/></a>
        </figure>
      </article>
    </div>
    <div class="tile is-one-third">
      <article class="tile is-child notification is-info">
        <p class="title">Visual Studio Code</p>
        <figure class="image is-4by3">
          <a href="https://code.visualstudio.com/" target="_blank"><img src="assets/icons8-visual-studio-code-2019-144.png" alt=""/></a>
        </figure>
      </article>
    </div>
  </div> </mat-card
><br /> -->

