
<hr>
<div class="project-cards">
    <div class="card" >
        <img mat-card-md-image src="assets/icons8-angularjs-144.png" width="300px" alt="...">
        <div class="card-body">
          <h3 class="card-title">Personal Portfolio with Angular then launch on firebase and host an image in Docker</h3>
          <p class="card-text">This was my attempt to build a personal porfolio that I can show off on interviews to show case my coding aptitude.
            the next phase is to host this on aws and have a CI/CD pipeline to update it on a regular basis, cost permitting. The portfolio is also
            hosted on firebase.
          </p>

           <a href="https://github.com/ntumsi/lln" class="btn btn-primary" target="_blank">Veiw Code on github</a>
        </div>
      </div>
      <br><br>
      <div class="card" >

        <img mat-card-md-image src="assets/icons8-spring-logo-144.png" width="300px" alt="...">
        <div class="card-body">
          <h3 class="card-title">Redesign of Pet Clinic with Spring Boot and Java</h3>
          <p class="card-text">Spring pet clininc a classic learner application designed for students to build while learning the Spring Core components.</p>
          <a href="https://github.com/ntumsi/spring-pet-clinic" class="btn btn-primary" target="_blank">Veiw Code on github</a>
        </div>
      </div>
      <br><br>
      <div class="card" >
        <img mat-card-md-image src="assets/icons8-angularjs-144.png" width="300px" alt="...">
        <div class="card-body">
          <h3 class="card-title">Build a Functional Weather Application with Angular</h3>
          <p class="card-text">This was my trial version of a simple weather application to test openweathermap API.</p>
           <a href="https://github.com/ntumsi/local-weather-app" class="btn btn-primary">Veiw Code on github</a>
        </div>
      </div>
      <br><br>
      <div class="card" >
       <img mat-card-md-image src="assets/icons8-react-120.png" width="300px"  alt="...">
       <div class="card-body">
         <h3 class="card-title">Final Group Project at WozU</h3>
         <p class="card-text">The idea behind this project was to make is a devlopers friend where junior developers can find information about
           jobs, technology news, and meet other developers. The project was successful but we never took it beyond just a school project.
           We used an express back-end with MongoBb with a React front-end with APIs to pull the required information and store on the database
           visitors.
         </p>
        <a href="https://github.com/Woz-U-Group-Projects/team-woz-crew" class="btn btn-primary" target="_blank">Veiw Code on github</a>
       </div>
     </div>
</div>
<hr >


