<footer class="footer">
  <div class="content has-text-centered">
       <div class="footer-div">
         <span class="footer-item">
           <a  href="https://www.facebook.com/ntumsi" target="_blank" >
               <img class="footer-image" src="assets/facebook.png" alt="ntumsi" />

           </a>
         </span>
         <span class="footer-item">

             <a  href="https://github.com/ntumsi" target="_blank" >
                 <img class="footer-image" src="assets/github.png"  alt="ntumsi"/>
             </a>
         </span>
           <span class="footer-item">

               <a  href="https://www.linkedin.com/in/lah-ntumsi-ba2b3219/"target="_blank">
                   <img class="footer-image" src="assets/linkedin.png"  alt="ntumsi"/>
               </a>
           </span>
           <span class="footer-item">

               <h5>Lah Ntumsi &copy; {{date }}</h5>
           </span>

       </div>


 </div>

</footer>
