mat-toolbar{
  flex: auto;
  flex-direction: row;
  text-align:center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}
.footer-image{
  color:white;
  max-width: 50px;
}
.footer-div{
  display: flex;
  align-content: center;
  justify-content: space-around;
  overflow: hidden;
}
.footer{
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color:whitesmoke;
  color: rgb(22, 7, 7);
  text-align: center;
  justify-content: space-between;
  padding-top: 25px;
  margin-top: 10px;
}

